sources/views/about.pug
doctype html
html
	head
		include partials/global/head

	body
		.wrapper

			include partials/global/header

			.container

				section.section.about

					.about__wrap

						h1.section__title Про нас

						p.section__desc Ми створили Bookowina, бо знаємо, як важко знайти час для себе, як мучить процес вибору, як хочеться загорнутися у ковдру та провести вихідний за книгою та вином. Знаємо, тому що ми — такі самі:)

						img.about__img(src="img/about/book.png" title="Книга")


						.about__people

							.about__lc
								img.about__people-img(src="img/about/julia.png" alt="Юля")
								.about__people-text
									h3.section__subtitle Юля
									p.section__desc
									| Книжковий гік,
									br
									| співзасновниця проекту
									a.section__link(href="https://www.facebook.com/nikolaeva.julz" title="Facebook Юлі" target="_blank" ) Facebook Юлі
							.about__rc
								img.about__people-img(src="img/about/karina.png" alt="Каріна")
								.about__people-text
									h3.section__subtitle Каріна
									p.section__desc
									| Майстриня комунікацій,
									br
									| співзасновниця проекту
									a.section__link(href="https://www.facebook.com/repiakh.karina" title="Facebook Каріни" target="_blank" ) Facebook Каріни

					.ornament
						img(src="img/ornament.png" alt="Орнамент")

					.about__inner

						h2.section__title.section__title--upper Ми у ЗМІ

						.about__table
							.about__table-row
								.about__table-item
									a.img-wrap(href="https://gazeta.ua/articles/economics/_vino-i-knigi-ukrayinki-zaroblyayut-na-lyubovi-do-chitannya/816805" title="Перейти" target="_blank" )
										img(src="img/about/gazeta.png")
								.about__table-item
									a.img-wrap(href="https://bit.ua/2018/01/psp-kak-zarabatyvayut-knizhnye-servisy-podpisok-v-ukraine/" title="Перейти" target="_blank" )
										img(src="img/about/bit.png")
								.about__table-item
									a.img-wrap(href="https://bzh.life/plany/podarki-na-novyj-god-2017" title="Перейти" target="_blank" )
										img(src="img/about/bzh.png")
							.about__table-row
								.about__table-item
									a.img-wrap(href="http://bukvoid.com.ua/events/pesentation/2017/07/03/132720.html" title="Перейти" target="_blank" )
										img(src="img/about/bk.png")
								.about__table-item
									a.img-wrap(href="http://thedevochki.com/2017/03/10/nado-brat-korobka-s-knigami-i-vinom-bookowina/" title="Перейти" target="_blank" )
										img(src="img/about/devochki.png")
								.about__table-item
									a.img-wrap(href="https://lviv.com/panoptykum/knygy-i-vyno-za-peredplatoyu-yak-pratsyuye-startap-bookowina/amp/" title="Перейти" target="_blank" )
										img(src="img/about/lviv.png")
							.about__table-row
								.about__table-item
									a.img-wrap(href="http://www.chytomo.com/news/knizhkovi-korobki-servisi-vidbirnoii-literaturi" title="Перейти" target="_blank" )
										img(src="img/about/chytomo.png")
								.about__table-item
									a.img-wrap(href="https://vsiknygy.net.ua/news/50075/" title="Перейти" target="_blank" )
										img(src="img/about/friend.png")
								.about__table-item
									a.img-wrap(href="https://nachasi.com/2017/05/10/bookowina-interview/" title="Перейти" target="_blank" )
										img(src="img/about/nachasi.png")
							.about__table-row
								.about__table-item
									a.img-wrap(href="http://ukraineartnews.com/news/events/knigu-ob-uukrainskom-iskusstve-vypustili-v-originalnoj-korobochke" title="Перейти" target="_blank" )
										img(src="img/about/ukraineartnews.png")
								.about__table-item
									a.img-wrap(href="http://promin.fm/quote/2075/Voni-mayut-prichetnist-do-knizhok-kakao-i-vina/" title="Перейти" target="_blank" )
										img(src="img/about/promin.png")
								.about__table-item
									a.img-wrap(href="http://mamant.com.ua/blog/zhmm/bookowina-novyi-boks-servis-s-knigami-kotoryi-ty-poliubish-vsem-serdtsem" title="Перейти" target="_blank" )
										img(src="img/about/mamant.png")


			include partials/global/footer

about.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <meta charset="utf-8">
    <link rel="icon" sizes="16x16" href="img/favicon.ico">
    <link rel="stylesheet" href="./css/core.css">
    <title>Bookowina: Книги та вино</title>
    <meta name="description" content="Книги та вино: коробочка-сюрприз. Ідеальне поєднання для вас.">
    <meta property="og:title" content="Книги та вино">
    <meta property="og:url" content="http://bookowina.com.ua/">
    <meta property="og:description" content="Коробочка-сюрприз: ідеальне поєднання для вас">
    <meta property="og:image" content="http://bookowina.com.ua/img/logo.png">
    <meta property="og:image:type" content="img/png">
    <meta property="og:image:width" content="137">
    <meta property="og:image:height" content="81">
    <meta property="twitter:description" content="Книги та вино: коробочка-сюрприз">
    <link rel="image_src" href="">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118950065-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-118950065-1');
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__inner"><a class="header__logo" href="index.html" title="На головну"><img src="img/logo.png"></a>
          <ul class="header__nav">
            <li class="header__nav-item"><a href="about.html" title="Про нас">Про нас</a></li>
            <li class="header__nav-item"><a href="price.html" title="Вартість">Вартість</a></li>
            <li class="header__nav-item"><a href="faq.html" title="Часті питання">Часті запитання</a></li>
            <li class="header__nav-item"><a class="btn btn--cta" href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&amp;entry.791121018&amp;entry.35503973&amp;entry.2073117723&amp;entry.901201984&amp;entry.1414268599&amp;entry.1588134616&amp;entry.400546336&amp;entry.899332627&amp;entry.1718467690" target="_blank" title="Підписатися">Підписатися</a></li>
          </ul><a class="header__link btn btn--cta" href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&amp;entry.791121018&amp;entry.35503973&amp;entry.2073117723&amp;entry.901201984&amp;entry.1414268599&amp;entry.1588134616&amp;entry.400546336&amp;entry.899332627&amp;entry.1718467690" target="_blank" title="Перейти">Підписатися</a>
        </div>
      </header>
      <div class="menu-burger"><span></span></div>
      <div class="container">
        <section class="section about">
          <div class="about__wrap">
            <h1 class="section__title">Про нас</h1>
            <p class="section__desc">Ми створили Bookowina, бо знаємо, як важко знайти час для себе, як мучить процес вибору, як хочеться загорнутися у ковдру та провести вихідний за книгою та вином. Знаємо, тому що ми — такі самі:)</p><img class="about__img" src="img/about/book.png" title="Книга">
            <div class="about__people">
              <div class="about__lc"><img class="about__people-img" src="img/about/julia.png" alt="Юля">
                <div class="about__people-text">
                  <h3 class="section__subtitle">Юля</h3>
                  <p class="section__desc"></p>Книжковий гік,<br>співзасновниця проекту<a class="section__link" href="https://www.facebook.com/nikolaeva.julz" title="Facebook Юлі" target="_blank">Facebook Юлі</a>
                </div>
              </div>
              <div class="about__rc"><img class="about__people-img" src="img/about/karina.png" alt="Каріна">
                <div class="about__people-text">
                  <h3 class="section__subtitle">Каріна</h3>
                  <p class="section__desc"></p>Майстриня комунікацій,<br>співзасновниця проекту<a class="section__link" href="https://www.facebook.com/repiakh.karina" title="Facebook Каріни" target="_blank">Facebook Каріни</a>
                </div>
              </div>
            </div>
          </div>
          <div class="ornament"><img src="img/ornament.png" alt="Орнамент"></div>
          <div class="about__inner">
            <h2 class="section__title section__title--upper">Ми у ЗМІ</h2>
            <div class="about__table">
              <div class="about__table-row">
                <div class="about__table-item"><a class="img-wrap" href="https://gazeta.ua/articles/economics/_vino-i-knigi-ukrayinki-zaroblyayut-na-lyubovi-do-chitannya/816805" title="Перейти" target="_blank"><img src="img/about/gazeta.png"></a></div>
                <div class="about__table-item"><a class="img-wrap" href="https://bit.ua/2018/01/psp-kak-zarabatyvayut-knizhnye-servisy-podpisok-v-ukraine/" title="Перейти" target="_blank"><img src="img/about/bit.png"></a></div>
                <div class="about__table-item"><a class="img-wrap" href="https://bzh.life/plany/podarki-na-novyj-god-2017" title="Перейти" target="_blank"><img src="img/about/bzh.png"></a></div>
              </div>
              <div class="about__table-row">
                <div class="about__table-item"><a class="img-wrap" href="http://bukvoid.com.ua/events/pesentation/2017/07/03/132720.html" title="Перейти" target="_blank"><img src="img/about/bk.png"></a></div>
                <div class="about__table-item"><a class="img-wrap" href="http://thedevochki.com/2017/03/10/nado-brat-korobka-s-knigami-i-vinom-bookowina/" title="Перейти" target="_blank"><img src="img/about/devochki.png"></a></div>
                <div class="about__table-item"><a class="img-wrap" href="https://lviv.com/panoptykum/knygy-i-vyno-za-peredplatoyu-yak-pratsyuye-startap-bookowina/amp/" title="Перейти" target="_blank"><img src="img/about/lviv.png"></a></div>
              </div>
              <div class="about__table-row">
                <div class="about__table-item"><a class="img-wrap" href="http://www.chytomo.com/news/knizhkovi-korobki-servisi-vidbirnoii-literaturi" title="Перейти" target="_blank"><img src="img/about/chytomo.png"></a></div>
                <div class="about__table-item"><a class="img-wrap" href="https://vsiknygy.net.ua/news/50075/" title="Перейти" target="_blank"><img src="img/about/friend.png"></a></div>
                <div class="about__table-item"><a class="img-wrap" href="https://nachasi.com/2017/05/10/bookowina-interview/" title="Перейти" target="_blank"><img src="img/about/nachasi.png"></a></div>
              </div>
              <div class="about__table-row">
                <div class="about__table-item"><a class="img-wrap" href="http://ukraineartnews.com/news/events/knigu-ob-uukrainskom-iskusstve-vypustili-v-originalnoj-korobochke" title="Перейти" target="_blank"><img src="img/about/ukraineartnews.png"></a></div>
                <div class="about__table-item"><a class="img-wrap" href="http://promin.fm/quote/2075/Voni-mayut-prichetnist-do-knizhok-kakao-i-vina/" title="Перейти" target="_blank"><img src="img/about/promin.png"></a></div>
                <div class="about__table-item"><a class="img-wrap" href="http://mamant.com.ua/blog/zhmm/bookowina-novyi-boks-servis-s-knigami-kotoryi-ty-poliubish-vsem-serdtsem" title="Перейти" target="_blank"><img src="img/about/mamant.png"></a></div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="footer__inner">
          <div class="footer__lc">
            <ul class="footer__list">
              <li class="footer__list-item"><a href="index.html" title="Головна">Головна</a></li>
              <li class="footer__list-item"><a href="about.html" title="Про нас">Про нас</a></li>
              <li class="footer__list-item"><a href="price.html" title="Підписки">Підписки</a></li>
            </ul>
          </div>
          <div class="footer__mc">
            <div class="footer__social"><a href="https://www.instagram.com/bookowina.box/" title="Instagram" target="_blank"><img src="img/svg/instagram.svg" alt="Instagram"></a><a href="https://www.facebook.com/bookowina.box/" title="Facebook" target="_blank"><img src="img/svg/facebook.svg" alt="Facebook"></a><a href="https://twitter.com/bookowinabox" title="Twitter" target="_blank"><img src="img/svg/twitter.svg" alt="Twitter"></a></div>
            <h2 class="section__subtitle">Пишіть нам будь-коли</h2><a class="section__link" href="mailto:bookowina.box@gmail.com" title="Написати нам">Написати нам</a>
            <div class="author">
              <p class="section__desc">Іллюстрації -</p><a class="section__link" href="https://www.behance.net/greenanabioz" target="_blank" title="Іллюстрації">Daria Ganns</a>
            </div>
          </div>
          <div class="footer__rc">
            <ul class="footer__list">
              <li class="footer__list-item"><a href="faq.html?tab=service" title="Про Сервіс">Про Сервіс</a></li>
              <li class="footer__list-item"><a href="faq.html?tab=delivery" title="Доставка">Доставка</a></li>
              <li class="footer__list-item"><a href="faq.html?tab=change" title="Обмін">Обмін</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <script src="js/libs.min.js"></script>
      <script src="js/core.min.js"></script>
    </div>
  </body>
</html>
