sources/views/faq.pug
doctype html
html
	head
		include partials/global/head

	body
		.wrapper

			include partials/global/header

			.container

				section.section.faq

					.faq__wrapper

						h1.section__title Часті запитання

						img.faq__img(src="img/faq.png" alt="Букохолік")

						ul.faq__nav
							li.faq__item.service
								.faq__headline
									.faq__wrap
										.faq__lc
											.faq__plus
										.faq__rc
											h3.section__subtitle Про сервіс

								.faq__inner
									p.section__desc.section__desc--strong Так, ви не будете знати, що за книги ми кладемо у коробку кожного разу.
									p.section__desc Але це будуть дійсно гарні літературні витвори, сучасні або класичні, відомі давно та найновіші, світові бестселлери та локальні перлини талановитих авторів.

									p.section__desc.section__desc--strong Крім того, ви не вгадаєте, яке вино ми доберемо до книг.
									p.section__desc Але будьте певні, ви отримаєте гідну пляшку, яка створить відповідну атмосферу, не тільки для книги, а й до вечері:) Якщо ж ви обираєте какао, тим простіше - ми знайшли найсмачніше для вас.

									p.section__desc.section__desc--strong Ні, ми не змушуємо вас читати книги та пити вина, що подобаються нам.
									p.section__desc Але ми відповідаємо за якість вмісту коробки. Якщо наші смаки не сходяться — обміняємо книги на інші, а вино — на рецепт глінтвейну;)

									p.section__desc.section__desc--strong Так, ми знаємо, що електронна книга зручніша.
									p.section__desc Але ніщо не замінить шурхіт сторінок та аромат паперу. Тим паче, що ми радимо читати книжки з нашої коробки у приємному місці, нікуди не поспішаючи. В решті решт, для електронних книг є метро та автобуси, але що ви поставите на свою книжкову полицю?

									p.section__desc.section__desc--strong Так, ми зауважили розмаїття людських вподобань.
									p.section__desc Тому перед замовленням запитаємо дещо про ваші літературні смаки. Крім того, вино у коробці можна замінити на какао.




							li.faq__item.delivery
								.faq__headline
									.faq__wrap
										.faq__lc
											.faq__plus
										.faq__rc
											h3.section__subtitle Доставка

								.faq__inner
									p.section__desc.section__desc--strong Доставляємо коробки на зручне для вас відділення Нової Пошти  або кур’єром до дверей.
									p.section__desc Передплата діє на наступний місяць, тобто у квітні можна замовити травневу коробку, у травні - червневу тощо. Аби не забути замовити нову коробку, радимо вам обирати тримісячну передплату.
									p.section__desc.section__desc--strong Доставка коробок відбувається у період  1-6 числа кожного місяця.

							li.faq__item.change
								.faq__headline
									.faq__wrap
										.faq__lc
											.faq__plus
										.faq__rc
											h3.section__subtitle Обмін та повернення

								.faq__inner
									p.section__desc.section__desc--strong Якщо вам попалися книги, які ви вже читали, ми без проблем замінимо їх на інші.
									p.section__desc Закорковану пляшку вина також можна обміняти. З відкритої пляшки, яка вам не до вподоби, можна зробити смачний глінтвейн (звертайтеся до нас за рецептом).
									p.section__desc Какао поверненню не підлягає, бо смачне.
									p.section__desc Процес повернення-обміну обговорюється індивідуально.

			include partials/global/footer

faq.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <meta charset="utf-8">
    <link rel="icon" sizes="16x16" href="img/favicon.ico">
    <link rel="stylesheet" href="./css/core.css">
    <title>Bookowina: Книги та вино</title>
    <meta name="description" content="Книги та вино: коробочка-сюрприз. Ідеальне поєднання для вас.">
    <meta property="og:title" content="Книги та вино">
    <meta property="og:url" content="http://bookowina.com.ua/">
    <meta property="og:description" content="Коробочка-сюрприз: ідеальне поєднання для вас">
    <meta property="og:image" content="http://bookowina.com.ua/img/logo.png">
    <meta property="og:image:type" content="img/png">
    <meta property="og:image:width" content="137">
    <meta property="og:image:height" content="81">
    <meta property="twitter:description" content="Книги та вино: коробочка-сюрприз">
    <link rel="image_src" href="">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118950065-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-118950065-1');
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__inner"><a class="header__logo" href="index.html" title="На головну"><img src="img/logo.png"></a>
          <ul class="header__nav">
            <li class="header__nav-item"><a href="about.html" title="Про нас">Про нас</a></li>
            <li class="header__nav-item"><a href="price.html" title="Вартість">Вартість</a></li>
            <li class="header__nav-item"><a href="faq.html" title="Часті питання">Часті запитання</a></li>
            <li class="header__nav-item"><a class="btn btn--cta" href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&amp;entry.791121018&amp;entry.35503973&amp;entry.2073117723&amp;entry.901201984&amp;entry.1414268599&amp;entry.1588134616&amp;entry.400546336&amp;entry.899332627&amp;entry.1718467690" target="_blank" title="Підписатися">Підписатися</a></li>
          </ul><a class="header__link btn btn--cta" href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&amp;entry.791121018&amp;entry.35503973&amp;entry.2073117723&amp;entry.901201984&amp;entry.1414268599&amp;entry.1588134616&amp;entry.400546336&amp;entry.899332627&amp;entry.1718467690" target="_blank" title="Перейти">Підписатися</a>
        </div>
      </header>
      <div class="menu-burger"><span></span></div>
      <div class="container">
        <section class="section faq">
          <div class="faq__wrapper">
            <h1 class="section__title">Часті запитання</h1><img class="faq__img" src="img/faq.png" alt="Букохолік">
            <ul class="faq__nav">
              <li class="faq__item service">
                <div class="faq__headline">
                  <div class="faq__wrap">
                    <div class="faq__lc">
                      <div class="faq__plus"></div>
                    </div>
                    <div class="faq__rc">
                      <h3 class="section__subtitle">Про сервіс</h3>
                    </div>
                  </div>
                </div>
                <div class="faq__inner">
                  <p class="section__desc section__desc--strong">Так, ви не будете знати, що за книги ми кладемо у коробку кожного разу.</p>
                  <p class="section__desc">Але це будуть дійсно гарні літературні витвори, сучасні або класичні, відомі давно та найновіші, світові бестселлери та локальні перлини талановитих авторів.</p>
                  <p class="section__desc section__desc--strong">Крім того, ви не вгадаєте, яке вино ми доберемо до книг.</p>
                  <p class="section__desc">Але будьте певні, ви отримаєте гідну пляшку, яка створить відповідну атмосферу, не тільки для книги, а й до вечері:) Якщо ж ви обираєте какао, тим простіше - ми знайшли найсмачніше для вас.</p>
                  <p class="section__desc section__desc--strong">Ні, ми не змушуємо вас читати книги та пити вина, що подобаються нам.</p>
                  <p class="section__desc">Але ми відповідаємо за якість вмісту коробки. Якщо наші смаки не сходяться — обміняємо книги на інші, а вино — на рецепт глінтвейну;)</p>
                  <p class="section__desc section__desc--strong">Так, ми знаємо, що електронна книга зручніша.</p>
                  <p class="section__desc">Але ніщо не замінить шурхіт сторінок та аромат паперу. Тим паче, що ми радимо читати книжки з нашої коробки у приємному місці, нікуди не поспішаючи. В решті решт, для електронних книг є метро та автобуси, але що ви поставите на свою книжкову полицю?</p>
                  <p class="section__desc section__desc--strong">Так, ми зауважили розмаїття людських вподобань.</p>
                  <p class="section__desc">Тому перед замовленням запитаємо дещо про ваші літературні смаки. Крім того, вино у коробці можна замінити на какао.</p>
                </div>
              </li>
              <li class="faq__item delivery">
                <div class="faq__headline">
                  <div class="faq__wrap">
                    <div class="faq__lc">
                      <div class="faq__plus"></div>
                    </div>
                    <div class="faq__rc">
                      <h3 class="section__subtitle">Доставка</h3>
                    </div>
                  </div>
                </div>
                <div class="faq__inner">
                  <p class="section__desc section__desc--strong">Доставляємо коробки на зручне для вас відділення Нової Пошти  або кур’єром до дверей.</p>
                  <p class="section__desc">Передплата діє на наступний місяць, тобто у квітні можна замовити травневу коробку, у травні - червневу тощо. Аби не забути замовити нову коробку, радимо вам обирати тримісячну передплату.</p>
                  <p class="section__desc section__desc--strong">Доставка коробок відбувається у період  1-6 числа кожного місяця.</p>
                </div>
              </li>
              <li class="faq__item change">
                <div class="faq__headline">
                  <div class="faq__wrap">
                    <div class="faq__lc">
                      <div class="faq__plus"></div>
                    </div>
                    <div class="faq__rc">
                      <h3 class="section__subtitle">Обмін та повернення</h3>
                    </div>
                  </div>
                </div>
                <div class="faq__inner">
                  <p class="section__desc section__desc--strong">Якщо вам попалися книги, які ви вже читали, ми без проблем замінимо їх на інші.</p>
                  <p class="section__desc">Закорковану пляшку вина також можна обміняти. З відкритої пляшки, яка вам не до вподоби, можна зробити смачний глінтвейн (звертайтеся до нас за рецептом).</p>
                  <p class="section__desc">Какао поверненню не підлягає, бо смачне.</p>
                  <p class="section__desc">Процес повернення-обміну обговорюється індивідуально.</p>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="footer__inner">
          <div class="footer__lc">
            <ul class="footer__list">
              <li class="footer__list-item"><a href="index.html" title="Головна">Головна</a></li>
              <li class="footer__list-item"><a href="about.html" title="Про нас">Про нас</a></li>
              <li class="footer__list-item"><a href="price.html" title="Підписки">Підписки</a></li>
            </ul>
          </div>
          <div class="footer__mc">
            <div class="footer__social"><a href="https://www.instagram.com/bookowina.box/" title="Instagram" target="_blank"><img src="img/svg/instagram.svg" alt="Instagram"></a><a href="https://www.facebook.com/bookowina.box/" title="Facebook" target="_blank"><img src="img/svg/facebook.svg" alt="Facebook"></a><a href="https://twitter.com/bookowinabox" title="Twitter" target="_blank"><img src="img/svg/twitter.svg" alt="Twitter"></a></div>
            <h2 class="section__subtitle">Пишіть нам будь-коли</h2><a class="section__link" href="mailto:bookowina.box@gmail.com" title="Написати нам">Написати нам</a>
            <div class="author">
              <p class="section__desc">Іллюстрації -</p><a class="section__link" href="https://www.behance.net/greenanabioz" target="_blank" title="Іллюстрації">Daria Ganns</a>
            </div>
          </div>
          <div class="footer__rc">
            <ul class="footer__list">
              <li class="footer__list-item"><a href="faq.html?tab=service" title="Про Сервіс">Про Сервіс</a></li>
              <li class="footer__list-item"><a href="faq.html?tab=delivery" title="Доставка">Доставка</a></li>
              <li class="footer__list-item"><a href="faq.html?tab=change" title="Обмін">Обмін</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <script src="js/libs.min.js"></script>
      <script src="js/core.min.js"></script>
    </div>
  </body>
</html>
