price.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <meta charset="utf-8">
    <link rel="icon" sizes="16x16" href="img/favicon.ico">
    <link rel="stylesheet" href="./css/core.css">
    <title>Bookowina: Книги та вино</title>
    <meta name="description" content="Книги та вино: коробочка-сюрприз. Ідеальне поєднання для вас.">
    <meta property="og:title" content="Книги та вино">
    <meta property="og:url" content="http://bookowina.com.ua/">
    <meta property="og:description" content="Коробочка-сюрприз: ідеальне поєднання для вас">
    <meta property="og:image" content="http://bookowina.com.ua/img/logo.png">
    <meta property="og:image:type" content="img/png">
    <meta property="og:image:width" content="137">
    <meta property="og:image:height" content="81">
    <meta property="twitter:description" content="Книги та вино: коробочка-сюрприз">
    <link rel="image_src" href="">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118950065-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-118950065-1');
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__inner"><a class="header__logo" href="index.html" title="На головну"><img src="img/logo.png"></a>
          <ul class="header__nav">
            <li class="header__nav-item"><a href="about.html" title="Про нас">Про нас</a></li>
            <li class="header__nav-item"><a href="price.html" title="Вартість">Вартість</a></li>
            <li class="header__nav-item"><a href="faq.html" title="Часті питання">Часті запитання</a></li>
            <li class="header__nav-item"><a class="btn btn--cta" href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&amp;entry.791121018&amp;entry.35503973&amp;entry.2073117723&amp;entry.901201984&amp;entry.1414268599&amp;entry.1588134616&amp;entry.400546336&amp;entry.899332627&amp;entry.1718467690" target="_blank" title="Підписатися">Підписатися</a></li>
          </ul><a class="header__link btn btn--cta" href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&amp;entry.791121018&amp;entry.35503973&amp;entry.2073117723&amp;entry.901201984&amp;entry.1414268599&amp;entry.1588134616&amp;entry.400546336&amp;entry.899332627&amp;entry.1718467690" target="_blank" title="Перейти">Підписатися</a>
        </div>
      </header>
      <div class="menu-burger"><span></span></div>
      <div class="container">
        <section class="section price">
          <h1 class="section__title">Обери свою підписку</h1>
          <form class="price__inner">
            <div class="price__lc">
              <div class="price__wrap"><span class="price__title">Впевнений букохолік</span></div>
              <p class="price__ammount">1962 грн</p>
              <p class="section__desc section__desc--strong">4 місяці</p><a class="btn btn--cta" href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&amp;entry.791121018&amp;entry.35503973&amp;entry.2073117723&amp;entry.901201984&amp;entry.1414268599&amp;entry.1588134616&amp;entry.400546336&amp;entry.899332627&amp;entry.1718467690" title="Обрати" target="_blank">Обрати</a>
            </div>
            <div class="price__mc">
              <div class="price__wrap"><span class="price__title">Початківець</span></div>
              <p class="price__ammount">962 грн</p>
              <p class="section__desc section__desc--strong">2 місяці</p><a class="btn btn--cta" href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&amp;entry.791121018&amp;entry.35503973&amp;entry.2073117723&amp;entry.901201984&amp;entry.1414268599&amp;entry.1588134616&amp;entry.400546336&amp;entry.899332627&amp;entry.1718467690" title="Обрати" target="_blank">Обрати</a>
            </div>
            <div class="price__rc">
              <div class="price__wrap"><span class="price__title">Справжній фанат</span></div>
              <p class="price__ammount">1452 грн</p>
              <p class="section__desc section__desc--strong">3 місяці</p><a class="btn btn--cta" href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&amp;entry.791121018&amp;entry.35503973&amp;entry.2073117723&amp;entry.901201984&amp;entry.1414268599&amp;entry.1588134616&amp;entry.400546336&amp;entry.899332627&amp;entry.1718467690" title="Обрати" target="_blank">Обрати</a>
            </div>
          </form>
          <p class="section__desc section__desc--center">*окремо сплачується вартість доставки Новою Поштою</p>
          <div class="corporate">
            <div class="corporate__lc">
              <h3 class="section__subtitle upper">Корпоративні замовлення</h3>
              <p class="section__desc">Я із задоволенням допоможу тобі створити гарний настрій колегам або клієнтам.</p><a class="section__link" href="mailto:bookowina.box@gmail.com" title="Написати нам">Написати нам</a>
            </div>
            <div class="corporate__rc"><img src="img/corporate.png" alt="Корпоративні замовлення"></div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="footer__inner">
          <div class="footer__lc">
            <ul class="footer__list">
              <li class="footer__list-item"><a href="index.html" title="Головна">Головна</a></li>
              <li class="footer__list-item"><a href="about.html" title="Про нас">Про нас</a></li>
              <li class="footer__list-item"><a href="price.html" title="Підписки">Підписки</a></li>
            </ul>
          </div>
          <div class="footer__mc">
            <div class="footer__social"><a href="https://www.instagram.com/bookowina.box/" title="Instagram" target="_blank"><img src="img/svg/instagram.svg" alt="Instagram"></a><a href="https://www.facebook.com/bookowina.box/" title="Facebook" target="_blank"><img src="img/svg/facebook.svg" alt="Facebook"></a><a href="https://twitter.com/bookowinabox" title="Twitter" target="_blank"><img src="img/svg/twitter.svg" alt="Twitter"></a></div>
            <h2 class="section__subtitle">Пишіть нам будь-коли</h2><a class="section__link" href="mailto:bookowina.box@gmail.com" title="Написати нам">Написати нам</a>
            <div class="author">
              <p class="section__desc">Іллюстрації -</p><a class="section__link" href="https://www.behance.net/greenanabioz" target="_blank" title="Іллюстрації">Daria Ganns</a>
            </div>
          </div>
          <div class="footer__rc">
            <ul class="footer__list">
              <li class="footer__list-item"><a href="faq.html?tab=service" title="Про Сервіс">Про Сервіс</a></li>
              <li class="footer__list-item"><a href="faq.html?tab=delivery" title="Доставка">Доставка</a></li>
              <li class="footer__list-item"><a href="faq.html?tab=change" title="Обмін">Обмін</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <script src="js/libs.min.js"></script>
      <script src="js/core.min.js"></script>
    </div>
  </body>
</html>

sources/views/price.pug
doctype html
html
	head
		include partials/global/head

	body
		.wrapper

			include partials/global/header

			.container

				section.section.price

					h1.section__title Обери свою підписку

					form.price__inner
						.price__lc
							.price__wrap
								span.price__title Впевнений букохолік
							p.price__ammount 1962 грн
							p.section__desc.section__desc--strong 4 місяці
							a.btn.btn--cta(href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&entry.791121018&entry.35503973&entry.2073117723&entry.901201984&entry.1414268599&entry.1588134616&entry.400546336&entry.899332627&entry.1718467690" title="Обрати" target="_blank") Обрати

						.price__mc
							.price__wrap
								span.price__title Початківець
							p.price__ammount 962 грн
							p.section__desc.section__desc--strong 2 місяці
							a.btn.btn--cta(href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&entry.791121018&entry.35503973&entry.2073117723&entry.901201984&entry.1414268599&entry.1588134616&entry.400546336&entry.899332627&entry.1718467690" title="Обрати" target="_blank") Обрати

						.price__rc
							.price__wrap
								span.price__title Справжній фанат
							p.price__ammount 1452 грн
							p.section__desc.section__desc--strong 3 місяці
							a.btn.btn--cta(href="https://docs.google.com/forms/d/e/1FAIpQLSfVgGWrArfcNqW36OEs8DjozJU9I5pwaLw4Dt0-awuk702MkA/viewform?usp=pp_url&entry.791121018&entry.35503973&entry.2073117723&entry.901201984&entry.1414268599&entry.1588134616&entry.400546336&entry.899332627&entry.1718467690" title="Обрати" target="_blank") Обрати

					p.section__desc.section__desc--center *окремо сплачується вартість доставки Новою Поштою

					.corporate

						.corporate__lc
							h3.section__subtitle..section__desc--upper Корпоративні замовлення
							p.section__desc Я із задоволенням допоможу тобі створити гарний настрій колегам або клієнтам.
							a.section__link(href="mailto:bookowina.box@gmail.com" title="Написати нам") Написати нам
						.corporate__rc
							img(src="img/corporate.png" alt="Корпоративні замовлення")


			include partials/global/footer
